#answer-css, #answer-csharp, #answer-ruby, #answer-php {
  display: none;
}

.jumbotron {
  text-align: center;
  background-color: steelblue;
}

body {
  background-color: aliceblue;
}

button {
  background-color: steelblue;
}

#page {
  margin-bottom: 30px;
}

button:hover {
  background-color: tomato;
}
